@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --neon-blue: #00f3ff;
    --neon-pink: #ff00ff;
    --dark-bg: #1a1a1a;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: var(--dark-bg);
    color: #e0e0e0;
}